# .github/workflows/create-release.yml
name: Create Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to create (e.g. v6.12-r0, v1.2.0)'
        required: true
      dry_run:
        description: 'Dry run mode (no release creation)'
        required: false
        type: boolean
        default: true
      force:
        description: 'Force overwrite existing tag'
        required: false
        type: boolean
        default: false

jobs:
  call-reusable:
    uses: lferrarotti74/github-workflows-templates/.github/workflows/create-release.yml@2e01219fa73295c32847314bdc96abd613a12006
    with:
      tag: ${{ inputs.tag }}
      dry_run: ${{ inputs.dry_run }}
      force: ${{ inputs.force }}
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
