name: Dependabot Reviewer

on:
  pull_request_target:
    branches: [main]

permissions:
  pull-requests: write
  contents: write

jobs:
  dependabot-review:
    uses: lferrarotti74/github-workflows-templates/.github/workflows/dependabot-reviewer.yml@d41b01529c3bad32888a01d769b13cb6ba68d599
    with:
      auto_merge: true
