name: Dependabot Reviewer

on:
  pull_request_target:
    branches: [main]

permissions:
  pull-requests: write
  contents: write

jobs:
  dependabot-review:
    uses: lferrarotti74/github-workflows-templates/.github/workflows/dependabot-reviewer.yml@36bf25060f7e070d07776fb8508aeb2582d6c1fb
    with:
      auto_merge: true
