name: Dependabot Reviewer

on:
  pull_request_target:
    branches: [main]

permissions:
  pull-requests: write
  contents: write

jobs:
  dependabot-review:
    uses: lferrarotti74/github-workflows-templates/.github/workflows/dependabot-reviewer.yml@cd341f3977cc0b355316d0e04770dd28bab019ed
    with:
      auto_merge: true
