name: Dependabot Reviewer

on:
  pull_request_target:
    branches: [main]

permissions:
  pull-requests: write
  contents: write

jobs:
  dependabot-review:
    uses: lferrarotti74/github-workflows-templates/.github/workflows/dependabot-reviewer.yml@2e3c31281cb4cc0e4a5df1c133f1c165e2798ed9
    with:
      auto_merge: true
