name: Docker Scout

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'LICENSE'

permissions:
  contents: read
  packages: write
  pull-requests: write

jobs:
  scout-docker-image:
    uses: lferrarotti74/github-workflows-templates/.github/workflows/docker-scout.yml@6f0bc13b750f07060550740d41d6a3d95d5b1915
    with:
      image_name: lferrarotti74/speedtest-ookla
      compare_tag: latest
      env_file_path: env/.env
      version_var_name: SPEEDTEST_VERSION
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
