name: Docker Scout

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'LICENSE'

permissions:
  contents: read
  packages: write
  pull-requests: write

jobs:
  scout-docker-image:
    uses: lferrarotti74/github-workflows-templates/.github/workflows/docker-scout.yml@9517dfb09b812267eda1185377725410d490f8bb
    with:
      image_name: lferrarotti74/speedtest-ookla
      compare_tag: latest
      env_file_path: env/.env
      version_var_name: SPEEDTEST_VERSION
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
