name: Docker Scout

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'LICENSE'

permissions:
  contents: read
  packages: write
  pull-requests: write

jobs:
  scout-docker-image:
    uses: lferrarotti74/github-workflows-templates/.github/workflows/docker-scout.yml@fafd12907371437cfa8e257ed6e7658087212b5f
    with:
      image_name: ${{ github.repository }}
      compare_tag: latest
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
