name: Docker Scout

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'LICENSE'

permissions:
  contents: read
  packages: write
  pull-requests: write

jobs:
  scout-docker-image:
    uses: lferrarotti74/github-workflows-templates/.github/workflows/docker-scout.yml@93635d1857059b50c4910a0f57bd0b1a3aaf6eb8
    with:
      image_name: ${{ github.repository }}
      compare_tag: latest
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
